/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Raleway', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbf8ff;
}

.form-container > * {
    margin: 5px;
}

.cool-input {
    height: 40px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #1dbf73;
}

.cool-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    width: 180px;
    text-shadow: none;
    background-color: #1dbf73;
    color: #fff;
    border: 1px solid transparent;
    padding: 0 35px 0 35px;
    font-size: 16px;
    margin: 0;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: color .2s, background-color .2s, box-shadow .2s, border .2s;
    transition: color .2s, background-color .2s, box-shadow .2s, border .2s;
}
